html {
  scroll-behavior: smooth;
}
body {
  color: #000;
  font-size: 0.9375rem;
  line-height: 1.8rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}
a {
  color: #000;
}
button {
  background: none;
  border: none;
}
::-webkit-scrollbar {
  width: 0.9375rem;
  height: 0.9375rem;
}
::-webkit-scrollbar-button {
  background: #dfdfdf;
}
::-webkit-scrollbar-track-piece {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #dedede;
}
.heading-secondary {
  font-weight: 700;
  text-transform: uppercase;
}
footer {
  position: static;
  bottom: 0;
  padding-bottom: 2rem;
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
.wrap {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.chat {
  margin: 0 auto;
  display: table;
}
.chat li {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding-left: 1rem;
}
.chat__link {
  display: inline-block;
  transition: transform 0.3s;
}
.chat__link:hover {
  opacity: 0.6;
}
.chat__num {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 1rem;
  background: #000;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 50px;
  color: #fff;
}
@media screen and (max-width: 62em) {
  .chat__num {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
}
.chat__num--sp {
  left: 35px;
}
@media screen and (max-width: 48em) {
  .chat__num--sp {
    top: 0;
  }
}
@media screen and (max-width: 62em) {
  .chat {
    padding: 0;
  }
}
.navbar {
  margin: 0 auto;
  padding: 5px auto;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}
.navbar-brand {
  padding: 0;
  font-size: 0.9375rem;
  line-height: 1.75rem;
}
.navbar-brand::after {
  content: "";
  background-color: #000;
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.2s ease-in;
}
.navbar-brand:hover::after {
  width: 100%;
}
.nav-link {
  display: block;
  padding: 5px 0;
}
.nav-item {
  display: inline-block;
}
.nav-item::after {
  content: "";
  background-color: #000;
  display: block;
  width: 0;
  height: 2px;
  transition: width 0.2s ease-out;
}
.nav-item:hover::after {
  width: 100%;
}
.avatar {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 5px;
}
.avatar__photo {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
}
.pagination {
  justify-content: center;
}
.pagination .page-link:hover {
  box-shadow: 0 0 15px 2px #e9ecef;
  background-color: #e9ecef;
}
.pagination .page-item.active .page-link {
  box-shadow: 0 0 15px 2px #007bff;
}
.pagination .page-item.active .page-link:hover {
  box-shadow: 0 0 15px 2px #007bff;
  background-color: #007bff;
}
.btn--big {
  position: relative;
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
}
.btn.blue {
  background: #4267b2;
  color: #fff;
  width: 80%;
}
.btn.blue:hover {
  opacity: 0.7;
}
.btn.red {
  background: #dd4b39;
  color: #fff;
  width: 80%;
}
.btn.red:hover {
  opacity: 0.7;
}
.btn.border-line {
  border: solid 1px #ec1d3f;
}
.btn.border-line:hover {
  background: #ec1d3f;
  color: #fff;
}
.article__title {
  font-size: 1.75rem;
  font-weight: 700;
}
.article p {
  word-spacing: 1px;
  line-height: 1.5;
}
.comments__item {
  border-bottom: 1px solid #adb5bd;
  padding: 15px 0;
}
.comments__avatar {
  display: table-cell;
  vertical-align: top;
}
.comments__avatar__shape {
  border-radius: 50%;
  border-bottom-right-radius: 0;
  margin-right: 0.5rem;
  margin-bottom: 0;
  overflow: hidden;
}
.comments__detail {
  display: table-cell;
  padding-left: 1rem;
  width: 100%;
}
.comments__user {
  font-weight: 700;
}
.comments__interaction {
  display: flex;
  color: #565050;
}
.comments__interaction a {
  color: #565050;
}
.comments__actions {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: -15px;
  padding: 0;
}
.comments__actions li {
  padding: 0 15px;
}
.comments__actions li:not(:last-child) {
  border-right: 1px solid #adb5bd;
}
.comments__like {
  display: flex;
  align-items: center;
}
.comments__like .ic-sprite--heart {
  transition: transform 0.3s ease-in;
}
.comments__like:hover .ic-sprite--heart {
  transform: translateY(-2px);
  cursor: pointer;
}
.comments__editor textarea {
  padding: 15px;
  background: #f5f5f5;
  border: 0;
  display: block;
  width: 100%;
}
.comments__child {
  margin: 0;
}
.comments__child .comments__item:last-child {
  border-bottom: none;
}
.badge {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.badge-light {
  border: 1px solid #e6e6e6;
  background: #fff;
  padding: 1rem;
}
.badge--arrow-left {
  position: relative;
}
.badge--arrow-left::before,
.badge--arrow-left::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-left: 0;
}
.badge--arrow-left::before {
  left: -8px;
  top: 15px;
  border-right-color: inherit;
  border-width: 7px;
}
.badge--arrow-left::after {
  left: -6px;
  top: 15px;
  border-right-color: #FFFFFF;
  border-width: 7px;
}
.badge--arrow {
  border-radius: 0;
  position: relative;
}
.badge--arrow:after {
  content: "";
  display: block;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #e6e6e6 transparent transparent;
  margin-left: -10px;
  position: absolute;
  bottom: -10px;
  left: 50%;
}
.badge--arrow-outline:before {
  content: "";
  display: block;
  border-width: 11px 11px 0;
  border-style: solid;
  border-color: #f0f transparent transparent;
  position: absolute;
  bottom: -11px;
  left: 50%;
}
.badge--arrow-outline:before {
  border-width: 12px;
  border-top: 0;
  margin: 0;
  left: -1px;
  right: auto;
  bottom: -12px;
  border-top-color: #e6e6e6;
  border-left-color: #e6e6e6;
}
.badge--arrow-bottom-left:after {
  border-width: 5px;
  margin: 0;
  left: 0;
  right: auto;
  border-top-color: #fff;
  border-left-color: #fff;
}
.badge--color-red {
  border-color: #f00 transparent transparent;
  background: #f00;
  color: #fff;
}
.badge--color-red:after {
  border-top-color: #f00;
  border-left-color: #f00;
}
.badge--color-yellow {
  border-color: #ff0 transparent transparent;
  background: #ff0;
  color: #000;
}
.badge--color-yellow:after {
  border-top-color: #ff0;
  border-left-color: #ff0;
}
.badge--color-blue {
  border-color: #00f transparent transparent;
  background: #00f;
  color: #fff;
}
.badge--color-blue:after {
  border-top-color: #00f;
  border-left-color: #00f;
}
.badge--big {
  padding: 1rem;
}
.badge--medium {
  padding: 0.5rem;
}
.badge--medium:after {
  border-width: 3px;
  bottom: -5px;
}
.badge--small {
  padding: 0.3rem;
}
.badge--small:after {
  border-width: 2px;
  bottom: -3px;
}
.popover {
  border-radius: 13px;
}
.popover-body {
  padding: 0;
  min-width: 180px;
}
.notify__header {
  padding: 15px;
  font-weight: 700;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 0;
}
.notify__body {
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.notify__footer {
  text-align: right;
  padding: 1rem;
  border-top: 1px solid #e6e6e6;
  margin: 0;
}
.notify__item {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.notify__item:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}
.notify__item--active {
  background-color: #f7f7f8;
}
.notify__item--active .notify__title {
  font-weight: 700;
}
.notify__content {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  flex: 0 0 100%;
}
.notify__icon-new {
  flex: 0 0 auto;
  margin-right: 1rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notify__title {
  flex: 0 0 auto;
  width: 100%;
  padding: 0 1rem 0 0;
  max-height: 4.375rem;
  overflow: hidden;
}
.notify ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/*Pictures Gallery*/
.image-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.image-box .image {
  transition: transform 0.3s ease-in;
}
.image-box:hover .image {
  transform: scale(1.1);
}
.image-box .overlay {
  opacity: 1;
}
.image,
.image-small {
  object-fit: cover;
  object-position: 100% 0;
  transition: transform 0.2s ease-in;
}
.image:hover,
.image-small:hover {
  transform: scale(1.1);
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 410px;
}
.image-small {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 200px;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 5px 10px;
}
.overlay.full {
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  height: 100%;
}
.overlay span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  text-transform: uppercase;
}
ul.box-cell {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}
ul.box-cell li {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
.box-list {
  display: block;
  width: 100%;
  margin: 0;
}
.box-list .box-item {
  display: table-cell;
  width: 50%;
}
.bg-point-circle-top {
  background: url(../images/bg_point_top.png) no-repeat left top;
  height: 97px;
  top: 0;
}
.bg-point-circle-bot {
  bottom: 0;
  background: url(../images/bg_point_bottom.png) no-repeat left bottom;
  height: 97px;
}
.ic-sprite {
  display: inline-block;
  background-image: url(../images/img-sprite.png);
  vertical-align: top;
  background-repeat: no-repeat;
}
.ic-sprite--register {
  width: 19px;
  height: 19px;
  background-position: 0 -24px;
}
.ic-sprite--search {
  width: 19px;
  height: 19px;
  background-position: -19px -24px;
}
.ic-sprite--close {
  width: 19px;
  height: 20px;
  background-position: -19px 0;
}
.ic-sprite--circle-in {
  width: 12px;
  height: 12px;
  background-position: -39px 0;
}
.ic-sprite--heart {
  width: 19px;
  height: 18px;
}
.ic-sprite--heart--empty {
  background-position: -52px 0;
}
.ic-sprite--heart--fill {
  background-position: -70px 0;
}
.ic-sprite--fb-like {
  width: 16px;
  height: 15px;
  background-position: -39px -18px;
  transform: translateY(-1px);
}
.ic-sprite--doc {
  width: 46px;
  height: 44px;
  background-position: -50px -47px;
}
.ic-sprite--chatbox {
  width: 51px;
  height: 61px;
  background-position: 0 -43px;
}
.ic-sprite--doc-sm {
  width: 30px;
  height: 29px;
  background-position: -57px -18px;
}
.ic-sprite--chatbox-sm {
  width: 33px;
  height: 36px;
  background-position: -90px -12px;
  transform: translateY(-2px);
}
.ic-sprite--arrow {
  width: 19px;
  height: 12px;
}
.ic-sprite--arrow--down {
  background-position: 0 0;
}
.ic-sprite--arrow--up {
  background-position: 0 -12px;
}
.tool-tip {
  display: inline-block;
  background: url(../images/tool-tip.png) no-repeat left top;
  font-size: 12px;
  height: 29px;
  line-height: 26px;
  color: #000;
  text-transform: uppercase;
  padding: 0 10px;
}
.top-head {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-list {
  margin-bottom: -3rem;
}
.card-list .card {
  flex: 0 0 31.5%;
  margin-bottom: 3rem;
  transition: all 0.2s ease-in;
}
.card-list .card:hover {
  transform: translateY(-2px);
  border-color: #0056b3;
}
@media screen and (max-width: 48em) {
  .card-list .card {
    flex: 0 0 47.5%;
  }
}
@media screen and (max-width: 23.5em) {
  .card-list .card {
    flex: 0 0 100%;
  }
}
.card-list .card-text {
  word-wrap: break-word;
  max-height: 4rem;
  line-height: 1.5;
  overflow: hidden;
  text-transform: uppercase;
}
.card,
.card-img-top {
  border-radius: 0;
}
.date {
  color: #565050;
  font-size: 0.875rem;
  margin-bottom: 0;
}
/********
* TEXT INPUT
********/
input.search {
  width: 2rem;
  background: url(../images/search-icon.png) no-repeat left top;
  padding: 0 0 0 2.5rem;
  border: none;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: relative;
}
input.search ~ .close {
  position: absolute;
  top: -2px;
  right: 4px;
  display: none;
}
input:focus.search {
  width: 100%;
}
input:focus.search ~ .close {
  display: inline-block;
}
input.form-control {
  border-color: #ddd;
  position: relative;
  padding: 1.8125rem 1.25rem;
  font-size: 0.9375rem;
}
input.form-control::placeholder {
  color: #adb5bd;
}
input.form-control.text-black::placeholder {
  color: #adb5bd;
}
/********
* BUTTONS
********/
.btn--red {
  background: #ec1d3f;
  color: #fff;
}
.btn--red:hover {
  background: #ec1d3f;
  color: #fff;
  opacity: 0.8;
}
/********
* SELECTBOX
********/
select {
  background-color: white;
  border: thin solid #cdd3d9;
  border-radius: 5px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 17px 20px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #adb5bd;
  font-size: 16px;
}
select option {
  color: #000;
  border: solid 1px #cdd3d9;
}
select.classic {
  background: url(../images/icon-arrow-down.png) no-repeat right 10px center;
  width: 100%;
}
select.classic:focus {
  background: url(../images/icon-arrow-top.png) no-repeat right 10px center;
}
.error {
  display: block;
  color: #ec1d3f;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 0;
  text-align: left;
}
/*CHAT BOX*/
.chat-popup {
  background: #fff;
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 0px -1px 24px -5px rgba(173, 173, 173, 0.68);
  z-index: 9;
  border-radius: 10px;
  max-width: 350px;
}
.chat-head,
.footer-chat {
  position: relative;
  z-index: 9;
}
.box-content-chat {
  display: block;
  overflow-y: scroll;
  max-height: 250px;
}
.box-chat {
  position: relative;
  display: block;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.box-chat .img-avatar {
  display: table-cell;
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}
.box-chat .avatar-shape {
  border-radius: 50%;
  border-bottom-right-radius: 0;
  margin-right: 5px;
  margin-bottom: 0;
  overflow: hidden;
}
.box-chat .title {
  display: table-cell;
  font-weight: 600;
  vertical-align: middle;
}
.box-chat .content-chat {
  display: table-cell;
}
.box-chat .box-grey {
  background: #f5f5f5;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  width: 100%;
  margin-right: 10px;
}
.box-chat .box-grey-1 {
  background: #f5f5f5;
  border-radius: 0 10px 10px 10px;
  padding: 1rem;
  width: 100%;
  margin-right: 10px;
}
.box-chat p {
  margin-bottom: 0;
}
.box-chat .box-blue {
  background: #0000ff;
  border-radius: 20px;
  padding: 10px 15px;
  color: #fff;
}
.form-container {
  margin: 10px;
  background-color: white;
}
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: none;
  resize: none;
  min-height: 4rem;
}
.btn_close {
  position: absolute;
  right: 1rem;
  top: 0.2rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
/*profile page*/
ul.register {
  margin: 0;
  padding: 0;
  line-height: 18px;
}
ul.register li {
  display: inline-block;
  padding-left: 5px;
  text-transform: uppercase;
}
/*Show/Hidden*/
.show_sp {
  display: none;
}
.show_pc {
  display: block;
}
@media (min-width: 62em) {
  .image,
  .image-small {
    object-fit: cover;
    object-position: 100% 0;
  }
  .image {
    height: 44rem;
  }
  .image-small {
    height: 20rem;
  }
}
@media (max-width: 62em) {
  ul.box-cell li {
    display: block;
    width: 100%;
    padding: 0 0 1rem 0;
  }
  .box-item {
    display: inline-block;
    padding: 0 10px 10px 0;
    float: left;
  }
  .box-item:nth-child(2),
  .box-item:nth-child(4) {
    padding-right: 0;
  }
  .image,
  .image-small {
    object-fit: cover;
    object-position: 100% 0;
  }
  .image {
    height: 44rem;
  }
  .image-small {
    height: 20rem;
  }
}
@media (max-width: 48em) {
  .show_sp {
    display: block;
  }
  .show_pc {
    display: none;
  }
  .navbar {
    background: #efefef;
    margin-bottom: 2rem;
  }
  .btn.blue,
  .btn.red {
    width: 100%;
  }
  .bg-point-circle-top {
    background: url(../images/bg_point_top.png) no-repeat center top;
    background-size: 65%;
  }
  .bg-point-circle-bot {
    background: url(../images/bg_point_bottom.png) no-repeat center bottom;
    background-size: 65%;
  }
  .bg-point-circle-top,
  .bg-point-circle-bot {
    width: 100%;
  }
}
@media (min-width: 36em) {
  .btn.blue,
  .btn.red {
    width: 20rem;
  }
}
@media (max-width: 35.9em) {
  .show_sp {
    display: block;
  }
  .show_pc {
    display: none;
  }
  .nav-item {
    border-top: solid 1px #fdfdfd;
  }
  .navbar {
    background: #efefef;
    margin-bottom: 2rem;
  }
  .col.full-col {
    flex-basis: inherit;
    display: block;
    width: 100%;
    padding-bottom: 1.5rem;
  }
  .btn.blue,
  .btn.red {
    width: 32rem;
  }
  select.classic {
    margin-top: 1.5rem;
  }
}
.btn.blue,
.btn.red {
  font-size: 1rem;
}
.fb-actions {
  transition: all 0.2s ease-in;
  position: relative;
}
.fb-actions:hover {
  transform: translateY(-0.5rem);
}
.fb-actions:hover::after {
  content: "";
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  height: 1px;
  width: 100%;
  box-shadow: 0 1rem 1rem 0.1rem #000;
}
.font-14 {
  font-size: 0.875rem !important;
}
.font-15 {
  font-size: 0.9375rem !important;
}
.font-18 {
  font-size: 1.125rem !important;
}
.font-20 {
  font-size: 1.25rem !important;
}
.font-24 {
  font-size: 1.5rem !important;
}
.font-30 {
  font-size: 1.875rem !important;
}
.font-34 {
  font-size: 2.125rem !important;
}
.font-36 {
  font-size: 2.25rem !important;
}
.font-38 {
  font-size: 2.375rem !important;
}
.font-40 {
  font-size: 2.5rem !important;
}
.font-60 {
  font-size: 3.75rem !important;
}
.font-bold {
  font-weight: 600 !important;
}
.text-red {
  color: #ec1d3f !important;
}
.text-blue {
  color: #2b64b0 !important;
}
.c-mt-1 {
  margin-top: 1rem !important;
}
.c-mt-2 {
  margin-top: 2rem !important;
}
.c-mt-3 {
  margin-top: 3rem !important;
}
.c-mt-10 {
  margin-top: 10rem !important;
}
.c-pr-1 {
  padding-right: 1rem !important;
}
.c-pt-1 {
  padding-top: 1rem !important;
}
.c-w200 {
  width: 12.5rem !important;
}
.c-w250 {
  width: 15.625rem !important;
}
.c-w300 {
  width: 18.75rem !important;
}
.c-w320 {
  width: 20rem !important;
}
.c-w3per {
  width: 30% !important;
}
.c-w4per {
  width: 40% !important;
}
.c-w5per {
  width: 50% !important;
}
.c-w6per {
  width: 60% !important;
}
.c-w7per {
  width: 70% !important;
}
.c-w8per {
  width: 80% !important;
}
.c-w9per {
  width: 90% !important;
}
.c-full {
  width: 100% !important;
}
.c-right {
  text-align: right !important;
}
.c-center {
  text-align: center !important;
}
.c-left {
  text-align: left !important;
}
.text-upcase {
  text-transform: uppercase !important;
}
.bot-border {
  border-top: solid 1px #e6e6e6 !important;
}
.b-left {
  border-right: solid 1px #e6e6e6 !important;
}
.hide {
  display: none !important;
}
.tf-top-1 {
  transform: translateY(-1px) !important;
}
.w90px {
  width: 90px!important;
}
.top-4 {
  top: 4rem;
}
.pb10 {
  padding-bottom: 10px!important;
}
.padding-none {
  padding: 0;
}
.icon {
  position: absolute;
  top: 1rem;
  right: 1.875rem;
  color: #cdd3d9;
}
.image_box {
  position: relative;
  display: block;
  right: 0;
  top: -1.6rem;
  text-align: right;
}
.padd-icon {
  position: absolute;
  left: 2.2rem;
  top: 1rem;
}
.img-small {
  width: 65%;
}
.img-small1 {
  width: 60%;
}
.img-small2 {
  width: 70%;
}
.fa.grey {
  color: #cdd3d9;
  font-size: 1.8rem;
  font-weight: 600;
}
